* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.contents {
	width: 960px;
	margin: 50px auto;
}
.content {
	position: relative;
	width: 30%;
	float: left;
	border: 1px solid #eee;
	margin-right: 5%;
	padding: 10px;
}
.content:last-child {
	margin-right: 0;
}
.flow-image1 {
	height: 150px;
	background-image: url(img/flow01.png);
	background-position: center;
	background-size: cover;
}
.flow-image2 {
	height: 150px;
	background-image: url(img/flow02.png);
	background-position: center;
	background-size: cover;
}
.flow-image3 {
	height: 150px;
	background-image: url(img/flow03.png);
	background-position: center;
	background-size: cover;
}
span {
	background-color: orange;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px;
}
h1 {
	margin: 10px 0 5px;
}